.max-width h2{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.max-width,h2 i{
    color: var(--main-color);
}
.social-links{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
.social-links .social{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 47px;
    box-sizing: border-box;
    font-size: 1.2rem;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
    transition: all var(--transition-speed);
    -webkit-transition: all var(--transition-speed);
    -moz-transition: all var(--transition-speed);
    -ms-transition: all var(--transition-speed);
    -o-transition: all var(--transition-speed);
}
.social-links .social:hover{
    background-color: transparent;
    color: var(--main-color);
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.contact h2{
    border-bottom: 3px solid var(--main-color);
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.contact .developer a{
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
}
.contact .developer a i{
    color: var(--main-color);
    font-size: 1.5rem;
}
.contact .own .row{
    margin-top: 10px;
}
input::placeholder{
    color: #fff;
}
.contact .own .row input{
    display: inline-block;
    outline: none;
    border: 2px solid var(--secondary-color);
    padding:15px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    transition: all var(--transition-speed);
    -webkit-transition: all var(--transition-speed);
    -moz-transition: all var(--transition-speed);
    -ms-transition: all var(--transition-speed);
    -o-transition: all var(--transition-speed);
}
.contact .own .row input:focus{
    border: 2px solid var(--main-color);
}
textarea::placeholder{
    color: #fff;
}
.contact .own .row textarea{
    width: 100%;
    height: 200px;
    resize: none;
    outline: none;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    font-size: 1rem;
    color: #fff;
    padding: 15px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all var(--transition-speed);
    -webkit-transition: all var(--transition-speed);
    -moz-transition: all var(--transition-speed);
    -ms-transition: all var(--transition-speed);
    -o-transition: all var(--transition-speed);
}
.contact .own .row textarea:focus{
    border: 2px solid var(--main-color);
}